<!doctype html>
<html lang="en-US" ng-app>
<head>
    <title>DEMO - PA Manager</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../stylesheets/vendors/bootstrap.min.css"/>
    <link rel="stylesheet" href="../stylesheets/vendors/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="../stylesheets/main.css"/>

    <style>
        *:not(i) {
            font-family: "Open Sans", sans-serif !important;
        }

        .list-group-item.selected  {
            background-color: #0088cc;
            color: #ffffff;
        }

        .node-card {
            line-height: 3em;
        }
    </style>
</head>
<body>

    <div class="page-container">
        <header class="navbar navbar-inverse">
            <ul class="navbar-nav-custom pull-right hidden-md hidden-lg">
                <li class="divider-vertical"></li>
                <li>
                    <a href="#" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-reorder"></i>
                    </a>
                </li>
            </ul>

            <a href="#" class="navbar-brand">Cisco PA Manager</a>

            <ul id="widgets" class="navbar-nav-custom pull-right">
                <li class="divider-vertical"></li>

                <li id="messages-widget" class="dropdown dropdown-left-responsive">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-success">1</span>
                    </a>

                    <ul class="dropdown-menu pull-right widget">
                        <li class="widget-heading">
                            <i class="fa fa-comment pull-right"></i>Latest Messages
                        </li>

                        <li class="new-on">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-user fa-2x"></i>
                                </a>

                                <div class="media-body">
                                    <h6 class="media-heading">
                                        <a href="#">George</a>
                                        <span class="label label-success">2 min ago</span>
                                    </h6>

                                    <div class="media">Thanks for your help! The tutorial really helped me a lot!</div>
                                </div>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-user fa-2x"></i>
                                </a>

                                <div class="media-body">
                                    <h6 class="media-heading">
                                        <a href="#">Mike</a>
                                        <span class="label label-default">6 hours ago</span>
                                    </h6>

                                    <div class="media">The logo is ready, have a look and let me know what you think!</div>
                                </div>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <i class="fa fa-user fa-2x"></i>
                                </a>

                                <div class="media-body">
                                    <h6 class="media-heading">
                                        <a href="#">Julia</a>
                                        <span class="label label-default">1 day ago</span>
                                    </h6>

                                    <div class="media">We should better consider our social media marketing strategy!</div>
                                </div>
                            </div>
                        </li>

                        <li class="divider"></li>

                        <li class="text-center"><a href="page_inbox.php">View All Messages</a></li>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li id="notifications-widget" class="dropdown dropdown-center-responsive">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag"></i>
                        <span class="badge badge-danger">1</span>
                        <span class="badge badge-warning">2</span>
                    </a>

                    <ul class="dropdown-menu pull-right widget">
                        <li class="widget-heading">
                            <a href="#" class="pull-right widget-link">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a href="#" class="widget-link">System</a>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-danger">20 min ago</li>
                                <li class="text-danger">Support system is down for maintenance!</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-warning">3 hours ago</li>
                                <li class="text-warning">PHP upgrade started!</li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-warning">5 hours ago</li>
                                <li class="text-warning">
                                    <a href="#" class="widget-link">1 support ticket</a>
                                    just opened!
                                </li>
                            </ul>
                        </li>

                        <li class="widget-heading">
                            <a href="#" class="pull-right widget-link">
                                <i class="fa fa-bookmark"></i>
                            </a>
                            <a href="#" class="widget-link">Project #3</a>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-success">3 weeks ago</li>
                                <li class="text-success">
                                    Project #3
                                    <a href="#" class="widget-link">published</a>
                                    successfully!
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-info">1 month ago</li>
                                <li class="text-info">Milestone #3 achieved!</li>
                                <li class="text-info">
                                    <a href="#" class="widget-link">John Doe</a>
                                    joined the project!
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul>
                                <li class="label label-default">1 year ago</li>
                                <li class="text-muted">This is an old notification</li>
                            </ul>
                        </li>

                        <li class="divider"></li>

                        <li class="text-center"><a href="#">View All Notifications</a></li>
                    </ul>
                </li>

                <li class="divider-vertical"></li>

                <li class="dropdown pull-right dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="loading-on">
                                <i class="fa fa-refresh"></i>
                                Refresh
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#modal-user-settings" role="button" data-toggle="modal">
                                <i class="fa fa-user"></i>
                                User Profile
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-wrench"></i>
                                App Settings
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="page_login.php">
                                <i class="fa fa-sign-out"></i>
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>

        <div class="inner-container">
            <aside id="page-sidebar" class="collapse navbar-collapse navbar-main-collapse">
                <form id="sidebar-search" action="" method="post">
                    <div class="input-group">
                        <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search..">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </form>

                <nav id="primary-nav">
                    <ul>
                        <li>
                            <a href="../index.html">
                                <i class="fa fa-home"></i>
                                Homepage
                            </a>
                        </li>
                        <li>
                            <a class="active" href="./clusterManagement.html">
                                <i class="fa fa-cloud"></i>
                                Cluster
                            </a>
                        </li>
                        <li>
                            <a href="../node.html">
                                <i class="fa fa-sitemap"></i>
                                Node
                            </a>
                        </li>
                        <li>
                            <a href="../service.html">
                                <i class="fa fa-rocket"></i>
                                Service
                            </a>
                        </li>
                        <li>
                            <a href="../log.html">
                                <i class="fa fa-terminal"></i>
                                Log info
                            </a>
                        </li>
                        <li>
                            <a href="../schemas.html">
                                <i class="fa fa-list"></i>
                                Schema
                            </a>
                        </li>
                        <li>
                            <a href="./administration.html">
                                <i class="fa fa-user"></i>
                                Administration
                            </a>
                        </li>
                        <li>
                            <a href="./account.html">
                                <i class="fa fa-lock"></i>
                                Account
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>

            <div id="page-content" style="min-height: 877px;" ng-controller="ClusterCtrl">
                <ul id="nav-info" class="clearfix">
                    <li>
                        <a href="../index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li class="active"><a href="">Cluster Management</a></li>
                </ul>

                <h3 class="page-header page-header-top">
                    Cluster Management
                    <small>Cluster has nodes</small>
                    <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#createClusterModal" id="createClusterBtn">
                        <i class="fa fa-plus"></i> Create Cluster...
                    </button>
                </h3>

                <div ng-repeat="c in clusters">
                    <div class="row page-header">
                        <h4 class="col-xs-6 col-lg-9">{{c.name}}</h4>
                        <div class="btn-group pull-right text-right">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-sitemap"></i> Add Node
                            </button>
                            <button type="button" class="btn btn-info">
                                <i class="fa fa-rocket"></i> Add Service
                            </button>
                            <button type="button" class="btn btn-default more" title="More" data-toggle="dropdown">
                                <i class="fa fa-reorder"></i>
                            </button>
                            <ul class="dropdown-menu text-left">
                                <li><a href="#"><i class="fa fa-play"></i> Start</a></li>
                                <li><a href="#"><i class="fa fa-refresh"></i> Restart</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i> Stop</a></li>
                                <div class="divider"></div>
                                <li><a href="#"><i class="fa fa-times"></i> Delete</a></li>
                                <li><a href="#"><i class="fa fa-edit"></i> Rename</a></li>
                                <div class="divider"></div>
                                <li><a href="#"><i class="fa fa-ellipsis-horizontal"></i> Other operation</a></li>
                            </ul>
                            <button type="button" class="btn btn-inverse btn-toggle">
                                <i class="fa fa-angle-double-down"></i>
                            </button>
                        </div>
                    </div>

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a ng-href="#service{{$index}}" data-toggle="tab">
                                <i class="fa fa-rocket"></i>
                                Services
                                <span class="badge">{{c.service[0]}}</span>
                            </a>
                        </li>
                        <li>
                            <a ng-href="#node{{$index}}" data-toggle="tab">
                                <i class="fa fa-sitemap"></i>
                                Nodes
                                <span class="badge badge-danger">{{c.node[0]}}</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="service{{$index}}">

                            <table class="table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col style="width:40px;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col style="width:150px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-right">#</th>
                                        <th><i class="fa fa-rocket"></i> Name</th>
                                        <th><i class="fa fa-bolt"></i> Status</th>
                                        <th><i class="fa fa-sitemap"></i> Nodes</th>
                                        <th class="text-center"><i class="fa fa-wrench"></i> Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="s in c.services">
                                        <td class="text-right">{{$index+1}}</td>
                                        <td><a href="#">{{s.name}}</a></td>
                                        <td>
                                            <span class="label label-default"
                                                  ng-class="{'label-success': s.status === 'Good',
                                                  'label-warning': s.status === 'Stopped',
                                                  'label-danger': s.status === 'Bad'}">
                                                {{s.status}}
                                            </span>
                                        </td>
                                        <td><span class="badge">{{s.nodes}}</span></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success btn-xs" title="Start">
                                                    <i class="fa fa-play"></i>
                                                </button>
                                                <button type="button" class="btn btn-primary btn-xs" title="Restart">
                                                    <i class="fa fa-refresh"></i>
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" title="Stop">
                                                    <i class="fa fa-stop"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs" title="More">
                                                    <i class="fa fa-reorder"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade in clearfix" id="node{{$index}}">
                            <table class="table table-bordered table-hover table-striped">
                                <colgroup>
                                    <col style="width:40px;"/>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="text-right">#</th>
                                        <th><i class="fa fa-ellipsis-horizontal"></i> IP Address</th>
                                        <th><i class="fa fa-bolt"></i> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="n in c.nodes">
                                        <td class="text-right">{{$index + 1}}</td>
                                        <td><a href="#">{{n.ip}}</a></td>
                                        <td><span class="label label-default"
                                                  ng-class="{'label-success': n.status === 'Available', 'label-danger': n.status === 'Unavailable'}">
                                            {{n.status}}</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <a class="pull-right" href="#">Show all nodes</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <span id="year-copy">2013</span> © Cisco Systems
            </footer>
        </div>
    </div>

    <script src="../javascripts/vendors/jquery-2.0.3.min.js"></script>
    <script src="../javascripts/vendors/bootstrap.min.js"></script>
    <script src="../javascripts/vendors/angular.min.js"></script>
    <script src="../javascripts/clusterManagement.js"></script>
</body>
</html>